NYP_Framework.VC.db
NYP_Framework.VC.VC.opendb

\Common\Debug\*
\Base\Debug\*
Debug/Common.pdb
Debug/Common.lib
Debug/Base.pdb
Debug/Base.exe
Common/Debug/timer.obj
Common/Debug/Win32Input.obj
Common/Debug/Vector3.obj
Common/Debug/Vector2.obj
Common/Debug/Utility.obj
Common/Debug/ShaderProgram.obj
Common/Debug/SceneManager.obj
Common/Debug/RenderHelper.obj
Common/Debug/Mtx44.obj
Common/Debug/MouseController.obj
Common/Debug/MeshBuilder.obj
Common/Debug/Mesh.obj
Common/Debug/MatrixStack.obj
Common/Debug/MathUtility.obj
Common/Debug/LoadTGA.obj
Common/Debug/LoadOBJ.obj
Common/Debug/LightBase.obj
Common/Debug/KeyboardController.obj
Common/Debug/GraphicsManager.obj
Common/Debug/EntityBase.obj
Base/Debug/vc140.pdb
Base/Debug/vc140.idb
Base/Debug/main.obj
Base/Debug/WeaponInfo.obj
Base/Debug/TextEntity.obj
Base/Debug/SpriteEntity.obj
Base/Debug/SkyBoxEntity.obj
Common/Debug/Common.tlog/lib.command.1.tlog
Common/Debug/Common.tlog/Lib-link.write.1.tlog
Common/Debug/Common.tlog/Lib-link.read.1.tlog
Common/Debug/Common.tlog/Common.lastbuildstate
Common/Debug/Common.tlog/CL.write.1.tlog
Common/Debug/Common.tlog/CL.read.1.tlog
Common/Debug/Common.tlog/CL.command.1.tlog
Common/Debug/Common.pdb
Common/Debug/Common.log
Common/Debug/Common.idb
Common/Debug/Collider.obj
Common/Debug/CameraBase.obj
Base/Debug/SceneText.obj
Base/Debug/Projectile.obj
Base/Debug/PlayerInfo.obj
Base/Debug/Pistol.obj
Base/Debug/OBJMesh.obj
Base/Debug/Light.obj
Base/Debug/LaserBlaster.obj
Base/Debug/Laser.obj
Base/Debug/GroundEntity.obj
Base/Debug/GenericEntity.obj
Base/Debug/FPSCamera.obj
Base/Debug/EntityManager.obj
Base/Debug/Base.tlog/link.write.1.tlog
Base/Debug/Base.tlog/link.read.1.tlog
Base/Debug/Base.tlog/link.command.1.tlog
Base/Debug/Base.tlog/CL.write.1.tlog
Base/Debug/Base.tlog/CL.read.1.tlog
Base/Debug/Base.tlog/CL.command.1.tlog
Base/Debug/Base.tlog/Base.lastbuildstate
Base/Debug/Base.log
Base/Debug/Application.obj
Base/Debug/Transform.obj
Base/Debug/SceneGraph.obj
Base/Debug/SceneNode.obj
Base/Debug/UpdateTransformation.obj
Base/Debug/SpatialPartition.obj
Base/Debug/LevelOfDetails.obj
Base/Debug/Grid.obj
Base/Debug/GrenadeThrow.obj
Base/Debug/Grenade.obj
